@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hello World</h1>
    <p class="lead">This is a welcome message, please feel free to check the code.</p>
</div>

<div class="row">

</div>